<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="layouts/standardLayout :: page(title='@Business')">

<div class="container" th:fragment="main">
    <h1 class="mt-3 mb-3" th:text="#{accountPage.admin.greeting}"></h1>
    <hr/>


    <!--        First Row         -->
    <div class="form-row">
        <div class="form-group col-md-12">
            <input class="form-control" type="text" th:placeholder="#{search.users}" readonly>
        </div>
    </div>

    <!--        Second Row         -->
    <form method="post" th:action="@{/searchUsersBy/}">
        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="text" class="form-control" name="searchParameter" th:placeholder="#{search.parameters}">
            </div>
            <div class="form-group input-group col-md-6">
                <select class="custom-select" name="searchOption" aria-label="">
                    <option selected th:text="#{search.by}">Search by...</option>
                    <option value="surname" th:text="#{search.by.lastName}">Surname</option>
                    <option value="email" th:text="#{search.by.email}">Email</option>
                    <option value="phone" th:text="#{search.by.phone}">Phone</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" data-toggle="tooltip"
                            data-placement="bottom" th:title="#{button.search.defaultAction}"
                            th:text="#{button.search}">Search
                    </button>
                </div>
            </div>
        </div>
    </form>

    <br/>
    <!--        Third Row         -->
    <div class="form-row">
        <div class="form-group col-md-12">
            <input class="form-control" type="text" th:placeholder="#{search.orders}" readonly>
        </div>
    </div>

    <!--        Second Row         -->
    <form method="post" th:action="@{/searchOrdersBy/}">
        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="text" class="form-control" name="searchParameter" th:placeholder="#{search.parameters}">
            </div>
            <div class="form-group input-group col-md-6">
                <select class="custom-select" name="searchOption" aria-label="">
                    <option selected th:text="#{search.by}">Search by...</option>
                    <option value="id" th:text="#{search.by.id}">ID</option>
                    <option value="date" th:text="#{search.by.date}">Date (in format yyyy-mm-dd but you can also search
                        by only part of the date)
                    </option>
                    <option value="surname" th:text="#{search.by.lastName}">Customer Surname</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" data-toggle="tooltip"
                            data-placement="bottom" th:title="#{button.search.defaultAction}"
                            th:text="#{button.search}">
                        Search
                    </button>
                </div>
            </div>
        </div>
    </form>


    <hr/>
    <!--    Search Users Results    -->
    <div th:if="${userResults}">
        <div th:unless="${#lists.isEmpty(userResults)}">
            <h5>Results:</h5>
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <th th:text="#{user.id}">id</th>
                    <th th:text="#{user.role}">role</th>
                    <th th:text="#{user.firstName}">First Name</th>
                    <th th:text="#{user.lastName}">Last Name</th>
                    <th th:text="#{user.email}">Email</th>
                    <th th:text="#{user.phone}">Phone</th>
                    <th th:text="#{user.address}">Address</th>
                    <th th:text="#{user.city}">City</th>
                    <th th:text="#{user.postalCode}">Postal Code</th>
                    <th th:text="#{user.country}">Country</th>
                    <th th:text="#{user.orders}">Orders</th>
                </thead>
                <tr th:each="user: ${userResults}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.role}">role</td>
                    <td th:text="${user.firstName}">First Name</td>
                    <td th:text="${user.lastName}">Last Name</td>
                    <td th:text="${user.email}">Email</td>
                    <td th:text="${user.phoneNumber}">Phone</td>
                    <td th:text="${user.address}">Address</td>
                    <td th:text="${user.city}">City</td>
                    <td th:text="${user.postalCode}">Postal Code</td>
                    <td th:text="${user.country}">Country</td>
                    <td><a target="_blank" th:unless="${user.orders.isEmpty()}"
                           th:href="@{/user/__${user.id}__/orders}">Orders</a></td>
                </tr>
            </table>


        </div>
        <h4 th:if="${#lists.isEmpty(userResults)}" th:text="#{searchResults.nothingFound}">
            No results found matching the search criteria
        </h4>
    </div>

    <!--    Search Orders Results    -->
    <div th:if="${orders}">
        <div th:unless="${#lists.isEmpty(orders)}">
            <h5>Results</h5>
            <div th:replace="fragments/orders :: orders"></div>
        </div>
        <h4 th:if="${#lists.isEmpty(orders)}" th:text="#{searchResults.nothingFound}">
            No results found matching the search criteria
        </h4>
    </div>



</div>


