<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer class="footerJ text-muted text-center" th:fragment="footer">
    <div class="container">
        <span th:text="#{footer.text.part1}">No rights reserved. Please visit our </span>
        <span class="text-muted"><a href="#" th:text="#{footer.text.termsAndConditions}">Terms and Conditions</a></span>
        <span th:text="#{footer.text.part2}"> to find out why you don't want anything from this website</span>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>

    <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>

</footer>
</body>
</html>