<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer class="footerJ text-muted text-center" th:fragment="footer">
    <div class="container">
        <span th:text="#{footer.text.part1}">No rights reserved. Please visit our </span>
        <span class="text-muted"><a href="#" th:text="#{footer.text.termsAndConditions}">Terms and Conditions</a></span>
        <span th:text="#{footer.text.part2}"> to find out why you don't want anything from this website</span>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>

    <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>

<!--    <script>-->
<!--      window.onload = init();-->

<!--      function init() {-->
<!--        console.log("init!");-->
<!--        for (let btn in document.getElementsByClassName("addToCart")) {-->
<!--          btn.addEventListener("click", confirm);-->
<!--        }-->
<!--      }-->

<!--      function confirm() {-->
<!--        console.log("pressed" +-->
<!--          "!");-->
<!--        document.getElementById("confirmation").classList.remove("hidden");-->

<!--        setTimeout(function () {-->
<!--          document.getElementById("confirmation").classList.add("hidden");-->
<!--        }, 1500);-->
<!--      }-->
<!--    </script>-->

</footer>
</body>
</html>